%head
  %link{:rel => "stylesheet", :href => "/main.css", :type => "text/css"}
  %title Fun with Google Maps
%body
  %div
    %a{:href => "/bikes"} Bikes!
  %div
    %a{:href => "/allotments"} Allotments!
