!!! XML
%kml{:xmlns => "http://www.opengis.net/kml/2.2"}
  %Document
    %Style{:id => "bikeIcon"}
      %IconStyle
        %Icon
          %href http://freezing-winter-3097.heroku.com/cycle-hire-pushpin-icon.gif
    - tfl_bike_data.each do |station|
      %Placemark
        %name=station['name']
        %description=station['description']
        %styleUrl #bikeIcon
        %Point
          %coordinates="#{station['long']},#{station['lat']}"
